{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% for item in dishesByInstitutions %}
                <a href="{{ path('app_home_show',{id:item.institution.id}) }}">
                    <img src="{{ vich_uploader_asset(item.institution, 'imgFile') }}" style="width: 700px;height: 300px"/>
                    <p>{{ item.institution.name }}</p>
                    <h3>Блюда</h3>
                    <ul>
                        {% for dishe in item.dishes %}
                            <li>
                                {{ dishe.dish.name }}
                                <img src="{{ vich_uploader_asset(dishe.dish, 'imgFile') }}" style="width: 100px;height: 100px"/>
                            </li>
                        {% endfor %}
                    </ul>
                </a>

            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }
    </style>
{% endblock %}
